doctype html
html
  head
    title= "Hunkomatic"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    script(src='https://code.jquery.com/jquery-2.2.0.js')
    script(src='javascripts/index.js')
