doctype html
html
  head
    title= "Hunkomatic"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Great+Vibes')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
  body
    block content
    .row 
      .col-md-1
      .col-md-10 
        h1 Paramour
      .col-md-1
    .row
      .col-md-1
      .col-md-10
        img.center-block.img-rounded(src='https://natashastander.files.wordpress.com/2014/11/chris_hemsworth___thor_6_by_thortheavengergod-d7eoika1.jpg')
      .col-md-1
    .row
      .col-md-4
      .col-md-4
        button.next-turn.hidden Next Turn
        .playerCount
            legend How Many Players?        
              input(type='radio' value='1' name='totalPlayers' id='1')
              label(for='1') 1
              input(type='radio' value='2' name='totalPlayers' id='2')
              label(for='2') 2
              input(type='radio' value='3' name='totalPlayers' id='3')
              label(for='3') 3
              input(type='radio' value='4' name='totalPlayers' id='4')
              label(for='4') 4
            button.btn.btn-primary#submitPlayerCt Submit Player Count
              span.glyphicon.glyphicon-heart
        .currentQuestion
        .playerForms
        input(type="submit" value="Submit Answers" class="submit-answers hidden btn btn-success")
        .player-responses
      .col-md-4

    script(src='https://code.jquery.com/jquery-2.2.0.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='javascripts/index.js')
