doctype html
html
  head
    title= "Hunkomatic"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='bootstrap', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
  body
    block content
    .row
      .col-md-4
      .col-md-4
      .col-md-4

    script(src='https://code.jquery.com/jquery-2.2.0.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='javascripts/index.js')
